
<li class="nav-item" th:classappend="${menu} == 'home' ? 'active' : ''">
  <a class="nav-link" href="#" th:href="@{/}" >Home <span class="sr-only" th:if="${menu} == 'home'" >(current)</span></a>
</li>
<li class="nav-item" th:classappend="${menu} == 'home' ? 'active' : ''">
  <a class="nav-link" href="#" th:href="@{/board/list}">BOARD<span class="sr-only" th:if="${menu} == 'board'">(current)</span></a>
</li>


<li class="nav-item" th:classappend="${menu} == 'home' ? 'active' : ''">
  <a class="nav-link" href="#" th:href="@{/}" >Home <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
</li>
<li class="nav-item" th:classappend="${menu} == 'board' ? 'active' : ''">
  <a class="nav-link" href="#" th:href="@{/board/list}">BOARD <span class="sr-only" th:if="${menu} == 'board'">(current)</span></a>
</li>
